<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Ames Housing Data and Kaggle Challenge
#                  Appendix 1 - Test.csv - Cleaning and Dummifying

### Contents:
- [Data Import & Cleaning](#Data-Import-and-Cleaning-for-Test.csv)

## Data Import and Cleaning for Test.csv

### 1. Import all necessary libraries

In [1]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn import metrics
import scipy.stats as stats
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.metrics import r2_score

%matplotlib inline

### 2. Read and understand the dataset

In [2]:
# Read from test csv and save it in "test" as dataframe
test = pd.read_csv("../data/test.csv")

In [3]:
# Print 1st 5 rows of dataframe
test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [4]:
#Check number of rows and columns in dataset
test.shape

# test dataset have 878 rows and 80 columns

(878, 80)

In [5]:
# Check through the data types of columns and corss-check with data dictionary given
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               878 non-null    int64
 1   PID              878 non-null    int64
 2   MS SubClass      878 non-null    int64
 3   MS Zoning        878 non-null    object
 4   Lot Frontage     718 non-null    float64
 5   Lot Area         878 non-null    int64
 6   Street           878 non-null    object
 7   Alley            58 non-null     object
 8   Lot Shape        878 non-null    object
 9   Land Contour     878 non-null    object
 10  Utilities        878 non-null    object
 11  Lot Config       878 non-null    object
 12  Land Slope       878 non-null    object
 13  Neighborhood     878 non-null    object
 14  Condition 1      878 non-null    object
 15  Condition 2      878 non-null    object
 16  Bldg Type        878 non-null    object
 17  House Style      878 non-null    object
 18  Overall Qual     878 non-null    int64
 19  Overall Cond     878 non-null    int64
 20  Year Built       878 non-null    int64
 21  Year Remod/Add   878 non-null    int64
 22  Roof Style       878 non-null    object
 23  Roof Matl        878 non-null    object
 24  Exterior 1st     878 non-null    object
 25  Exterior 2nd     878 non-null    object
 26  Mas Vnr Type     877 non-null    object
 27  Mas Vnr Area     877 non-null    float64
 28  Exter Qual       878 non-null    object
 29  Exter Cond       878 non-null    object
 30  Foundation       878 non-null    object
 31  Bsmt Qual        853 non-null    object
 32  Bsmt Cond        853 non-null    object
 33  Bsmt Exposure    853 non-null    object
 34  BsmtFin Type 1   853 non-null    object
 35  BsmtFin SF 1     878 non-null    int64
 36  BsmtFin Type 2   853 non-null    object
 37  BsmtFin SF 2     878 non-null    int64
 38  Bsmt Unf SF      878 non-null    int64
 39  Total Bsmt SF    878 non-null    int64
 40  Heating          878 non-null    object
 41  Heating QC       878 non-null    object
 42  Central Air      878 non-null    object
 43  Electrical       877 non-null    object
 44  1st Flr SF       878 non-null    int64
 45  2nd Flr SF       878 non-null    int64
 46  Low Qual Fin SF  878 non-null    int64
 47  Gr Liv Area      878 non-null    int64
 48  Bsmt Full Bath   878 non-null    int64
 49  Bsmt Half Bath   878 non-null    int64
 50  Full Bath        878 non-null    int64
 51  Half Bath        878 non-null    int64
 52  Bedroom AbvGr    878 non-null    int64
 53  Kitchen AbvGr    878 non-null    int64
 54  Kitchen Qual     878 non-null    object
 55  TotRms AbvGrd    878 non-null    int64
 56  Functional       878 non-null    object
 57  Fireplaces       878 non-null    int64
 58  Fireplace Qu     456 non-null    object
 59  Garage Type      834 non-null    object
 60  Garage Yr Blt    833 non-null    float64
 61  Garage Finish    833 non-null    object
 62  Garage Cars      878 non-null    int64
 63  Garage Area      878 non-null    int64
 64  Garage Qual      833 non-null    object
 65  Garage Cond      833 non-null    object
 66  Paved Drive      878 non-null    object
 67  Wood Deck SF     878 non-null    int64
 68  Open Porch SF    878 non-null    int64
 69  Enclosed Porch   878 non-null    int64
 70  3Ssn Porch       878 non-null    int64
 71  Screen Porch     878 non-null    int64
 72  Pool Area        878 non-null    int64
 73  Pool QC          4 non-null      object
 74  Fence            172 non-null    object
 75  Misc Feature     41 non-null     object
 76  Misc Val         878 non-null    int64
 77  Mo Sold          878 non-null    int64
 78  Yr Sold          878 non-null    int64
 79  Sale Type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

In [6]:
# Convert datatype of following columns from int to float to match to train.csv dataset
test['BsmtFin SF 1']= test['BsmtFin SF 1'].astype(float)
test['BsmtFin SF 2']= test['BsmtFin SF 2'].astype(float)
test['Bsmt Unf SF']= test['Bsmt Unf SF'].astype(float)
test['Total Bsmt SF']= test['Total Bsmt SF'].astype(float)
test['Bsmt Full Bath']= test['Bsmt Full Bath'].astype(float)
test['Bsmt Half Bath']= test['Bsmt Half Bath'].astype(float)
test['Garage Cars']= test['Garage Cars'].astype(float)
test['Garage Area']= test['Garage Area'].astype(float)

### 3. Check for Missing Values and deal with Missing Values

In [7]:
# Check for any missing values in the all columns of data
for i in range (0,len(test.columns)):                                        # for i in range of 0 to number of columns,
    if test[test.columns[i]].isnull().sum() != 0:                            # if total amount of null values cells is not 0,
        print(str(test.columns[i]), test[test.columns[i]].isnull().sum())    # print the column name, the amount of null values
    else:
        pass                                                                 # else pass

Lot Frontage 160
Alley 820
Mas Vnr Type 1
Mas Vnr Area 1
Bsmt Qual 25
Bsmt Cond 25
Bsmt Exposure 25
BsmtFin Type 1 25
BsmtFin Type 2 25
Electrical 1
Fireplace Qu 422
Garage Type 44
Garage Yr Blt 45
Garage Finish 45
Garage Qual 45
Garage Cond 45
Pool QC 874
Fence 706
Misc Feature 837

In [8]:
# 1. Replace empty cells in the below 13 columns from NA to no
# This is because the meaning of NA in these columns means no existence of it 
# Hence, these NA is not missing values per say
test['Alley'].replace(np.nan,"No",inplace = True)
test['Bsmt Qual'].replace(np.nan,"No",inplace = True)
test['Bsmt Cond'].replace(np.nan,"No",inplace = True)
test['BsmtFin Type 1'].replace(np.nan,"No",inplace = True)
test['BsmtFin Type 2'].replace(np.nan,"No",inplace = True)
test['Fireplace Qu'].replace(np.nan,"No",inplace = True)
test['Garage Type'].replace(np.nan,"No",inplace = True)
test['Garage Finish'].replace(np.nan,"No",inplace = True)
test['Garage Qual'].replace(np.nan,"No",inplace = True)
test['Garage Cond'].replace(np.nan,"No",inplace = True)
test['Pool QC'].replace(np.nan,"No",inplace = True)
test['Fence'].replace(np.nan,"No",inplace = True)
test['Misc Feature'].replace(np.nan,"No",inplace = True)

In [9]:
# Check for any missing values in the all columns of data
for i in range (0,len(test.columns)):                                        # for i in range of 0 to number of columns,
    if test[test.columns[i]].isnull().sum() != 0:                            # if total amount of null values cells is not 0,
        print(str(test.columns[i]), test[test.columns[i]].isnull().sum())    # print the column name, the amount of null values
    else:
        pass                                                                 # else pass
    
# All the 13 columns above have no null values anymore

Lot Frontage 160
Mas Vnr Type 1
Mas Vnr Area 1
Bsmt Exposure 25
Electrical 1
Garage Yr Blt 45

In [10]:
# 2. Replace blanks in column "Lot Frontage" to 0 as those blank cells mean there is 0 Lot Frontage, not missing data
test['Lot Frontage'].replace(np.nan,int(0), inplace = True)

In [11]:
# 3. Replace blanks in following columns to 0, using the deductive imputation, assuming that the blank data is due to non-existence of the item, hence they didnt fill in any value for the cell
test['Mas Vnr Area'].replace(np.nan,int(0), inplace = True)

# Replace blanks in following columns to No, using the deductive imputation, assuming that the blank data is due to non-existence of the item, hence they didnt fill in any value for the cell
test['Mas Vnr Type'].replace(np.nan,"No", inplace = True)

# Replace blanks in following columns to SBrkr, using the deductive imputation, assuming that the blank data is Standard Circuit Breaker, which majority of data is
test['Electrical'].replace(np.nan,"SBrkr", inplace = True)

In [12]:
# Check for any missing values in the all columns of data
for i in range (0,len(test.columns)):                                        # for i in range of 0 to number of columns,
    if test[test.columns[i]].isnull().sum() != 0:                            # if total amount of null values cells is not 0,
        print(str(test.columns[i]), test[test.columns[i]].isnull().sum())    # print the column name, the amount of null values
    else:
        pass                                                                 # else pass

Bsmt Exposure 25
Garage Yr Blt 45

In [13]:
# 4. Remove the 'Garage Yr Blt' column as this column is unneccessary. Most values of 'Garage Yr Blt' is similar to values in "Year Built" or "Year Remod/Add"
test.drop('Garage Yr Blt', axis=1, inplace = True)

In [14]:
#5. Replace NaN values in 'Bsmt Exposure' column to No_Basement, "None" to "No_Exposure"
test['Bsmt Exposure'].replace(np.nan,"No_Basement", inplace = True)
test['Bsmt Exposure'].replace("None","No_Exposure", inplace = True)

In [15]:
# Recheck for any missing values in the all columns of data
for i in range (0,len(test.columns)):                                        # for i in range of 0 to number of columns,
    if test[test.columns[i]].isnull().sum() != 0:                            # if total amount of null values cells is not 0,
        print(str(test.columns[i]), test[test.columns[i]].isnull().sum())    # print the column name, the amount of null values
    else:
        pass                                                                 # else pass  
    
# No columns now have null values.

### 4. Check contents of each column to see if any abnormality exist

In [16]:
#Checking contents for each column to see if any abnormality exist
np.unique(test['MS Zoning'])

# Replace certain columns to remove the spacing

array(['C (all)', 'FV', 'I (all)', 'RH', 'RL', 'RM'], dtype=object)

In [17]:
# Replace cells in 'Ms Zoning' from "A (agr)" to "A", from "C (all)" to "C", from "I (all)", "I"
test['MS Zoning'].replace("C (all)","C", inplace = True)
test['MS Zoning'].replace("I (all)","I", inplace = True)

In [18]:
# Rechecking contents for column 'Ms Zoning'
np.unique(test['MS Zoning'])

# Now no spacing in cell

array(['C', 'FV', 'I', 'RH', 'RL', 'RM'], dtype=object)

In [19]:
#Checking contents for each column to see if any abnormality exist
np.unique(test['Exterior 1st'])

# Replace certain columns to remove the spacing

array(['AsbShng', 'AsphShn', 'BrkComm', 'BrkFace', 'CemntBd', 'HdBoard',
       'MetalSd', 'Plywood', 'PreCast', 'Stucco', 'VinylSd', 'Wd Sdng',
       'WdShing'], dtype=object)

In [20]:
# Replace cells in 'Exterior 1st' from "Wd Sdng" to "WdSdng" to remove spacing
test['Exterior 1st'].replace("Wd Sdng","WdSdng", inplace = True)

In [21]:
# Rechecking contents for column 'Bldg Type'
np.unique(test['Exterior 1st'])

# Now no spacing in cell

array(['AsbShng', 'AsphShn', 'BrkComm', 'BrkFace', 'CemntBd', 'HdBoard',
       'MetalSd', 'Plywood', 'PreCast', 'Stucco', 'VinylSd', 'WdSdng',
       'WdShing'], dtype=object)

In [22]:
#Checking contents for each column to see if any abnormality exist
np.unique(test['Exterior 2nd'])

# Replace certain columns to remove the spacing

array(['AsbShng', 'AsphShn', 'Brk Cmn', 'BrkFace', 'CBlock', 'CmentBd',
       'HdBoard', 'ImStucc', 'MetalSd', 'Other', 'Plywood', 'PreCast',
       'Stucco', 'VinylSd', 'Wd Sdng', 'Wd Shng'], dtype=object)

In [23]:
# Replace cells in 'Exterior 2nd' from "Brk Cmn" to "BrkComm", "Wd Sdng" to "WdSdng", "Wd Shng" to "WdShing" to remove spacing
test['Exterior 2nd'].replace("Brk Cmn","BrkComm", inplace = True)
test['Exterior 2nd'].replace("Wd Sdng","WdSdng", inplace = True)
test['Exterior 2nd'].replace("Wd Shng","WdShing", inplace = True)

In [24]:
# Rechecking contents for column 'Bldg Type'
np.unique(test['Exterior 2nd'])

# Now no spacing in cell

array(['AsbShng', 'AsphShn', 'BrkComm', 'BrkFace', 'CBlock', 'CmentBd',
       'HdBoard', 'ImStucc', 'MetalSd', 'Other', 'Plywood', 'PreCast',
       'Stucco', 'VinylSd', 'WdSdng', 'WdShing'], dtype=object)

### 5. Changing Column Names

In [25]:
# Lowercasifying all letters in column names
test.columns = test.columns.str.lower()

In [26]:
# Rename all columns by replacing " " to "_"
for i in range(0,len(test.columns)):                                                        # for i in range from 0 to no of columns,
    if (test.columns.str.contains(" ")[i]) == True:                                         # if the name of column contains space,
        test = test.rename(columns={test.columns[i]: test.columns[i].replace(' ',"_")})  # replace the space with "_"

In [27]:
# Checking the name of columns again
test.columns

# All column names are successfully changed.

Index(['id', 'pid', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street', 'alley', 'lot_shape', 'land_contour', 'utilities',
       'lot_config', 'land_slope', 'neighborhood', 'condition_1',
       'condition_2', 'bldg_type', 'house_style', 'overall_qual',
       'overall_cond', 'year_built', 'year_remod/add', 'roof_style',
       'roof_matl', 'exterior_1st', 'exterior_2nd', 'mas_vnr_type',
       'mas_vnr_area', 'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual',
       'bsmt_cond', 'bsmt_exposure', 'bsmtfin_type_1', 'bsmtfin_sf_1',
       'bsmtfin_type_2', 'bsmtfin_sf_2', 'bsmt_unf_sf', 'total_bsmt_sf',
       'heating', 'heating_qc', 'central_air', 'electrical', '1st_flr_sf',
       '2nd_flr_sf', 'low_qual_fin_sf', 'gr_liv_area', 'bsmt_full_bath',
       'bsmt_half_bath', 'full_bath', 'half_bath', 'bedroom_abvgr',
       'kitchen_abvgr', 'kitchen_qual', 'totrms_abvgrd', 'functional',
       'fireplaces', 'fireplace_qu', 'garage_type', 'garage_finish',
       'garage_cars', 'garage_area', 'garage_qual', 'garage_cond',
       'paved_drive', 'wood_deck_sf', 'open_porch_sf', 'enclosed_porch',
       '3ssn_porch', 'screen_porch', 'pool_area', 'pool_qc', 'fence',
       'misc_feature', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type'],
      dtype='object')

### 6. Drop Unnecessary column

In [28]:
# The column "gr_liv_area" is an addition of 3 columns "1st_flr_sf","2nd_flr_sf", and "low_qual_fin_sf".
# Hence, "gr_liv_area" is to be dropped to solve the collineraity within these 4 columns
test.drop('gr_liv_area', axis=1, inplace = True)

# Dropping the "pid" and "id" column as well, as it is repetitive. We already have the ID column to identify a house, hence pid is redundant.
test.drop('pid', axis=1, inplace = True)

In [29]:
# Checking the name of columns again
test.columns

# "gr_liv_area" and "pid" is being removed.

Index(['id', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area', 'street',
       'alley', 'lot_shape', 'land_contour', 'utilities', 'lot_config',
       'land_slope', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'overall_qual', 'overall_cond', 'year_built',
       'year_remod/add', 'roof_style', 'roof_matl', 'exterior_1st',
       'exterior_2nd', 'mas_vnr_type', 'mas_vnr_area', 'exter_qual',
       'exter_cond', 'foundation', 'bsmt_qual', 'bsmt_cond', 'bsmt_exposure',
       'bsmtfin_type_1', 'bsmtfin_sf_1', 'bsmtfin_type_2', 'bsmtfin_sf_2',
       'bsmt_unf_sf', 'total_bsmt_sf', 'heating', 'heating_qc', 'central_air',
       'electrical', '1st_flr_sf', '2nd_flr_sf', 'low_qual_fin_sf',
       'bsmt_full_bath', 'bsmt_half_bath', 'full_bath', 'half_bath',
       'bedroom_abvgr', 'kitchen_abvgr', 'kitchen_qual', 'totrms_abvgrd',
       'functional', 'fireplaces', 'fireplace_qu', 'garage_type',
       'garage_finish', 'garage_cars', 'garage_area', 'garage_qual',
       'garage_cond', 'paved_drive', 'wood_deck_sf', 'open_porch_sf',
       'enclosed_porch', '3ssn_porch', 'screen_porch', 'pool_area', 'pool_qc',
       'fence', 'misc_feature', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type'],
      dtype='object')

### 7. Changing Contents of Columns

In [30]:
# 1. Change content of column "central_air" from " Yes" "No" to 1 and 0
test['central_air'].replace({"Y":1, "N":0}, inplace = True)

In [31]:
# 2. Change'mas_vnr_type' column of the None value to No
test['mas_vnr_type'].replace("None","No", inplace = True)

In [32]:
# Changing the ordinal columns from categories to numerical values
test["exter_qual"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1}, inplace = True)
test["exter_cond"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1}, inplace = True)
test["bsmt_qual"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1, "No":0}, inplace = True)
test["bsmt_cond"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1, "No":0}, inplace = True)
test["heating_qc"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1}, inplace = True)
test["kitchen_qual"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1}, inplace = True)
test["fireplace_qu"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1, "No":0}, inplace = True)
test["garage_qual"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1, "No":0}, inplace = True)
test["garage_cond"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "Po":1, "No":0}, inplace = True)
test["pool_qc"].replace({"Ex": 5, "Gd":4, "TA":3, "Fa":2, "No":0}, inplace = True)
test['bsmt_exposure'].replace({"Gd": 3, "Av":2, "Mn":1, "No_Basement":0, "No":0}, inplace = True)

In [33]:
# Changing the ordinal columns from categories to numerical values
test["lot_shape"].replace({"IR3": 1, "IR2":2, "IR1":3, "Reg":4}, inplace = True)
test["utilities"].replace({"AllPub": 4, "NoSewr":3, "NoSeWa":2, "ELO":1}, inplace = True)
test["bsmtfin_type_1"].replace({"GLQ": 6, "ALQ": 5, "BLQ": 4, "Rec":3, "LwQ":2, "Unf":1, "No":0}, inplace = True)
test["bsmtfin_type_2"].replace({"GLQ": 6, "ALQ": 5, "BLQ": 4, "Rec":3, "LwQ":2, "Unf":1, "No":0}, inplace = True)
test["functional"].replace({"Typ": 8, "Min1": 7, "Min2": 6, "Mod":5, "Maj1":4, "Maj2":3, "Sev": 2, "Sal":1}, inplace = True)
test["garage_finish"].replace({"Fin":3, "RFn":2, "Unf":1, "No":0}, inplace = True)
test["paved_drive"].replace({"Y":2, "P":1, "N":0}, inplace = True)

### 8. Save Dataset

In [35]:
#Save dataset to csv as a modified dataset
test.to_csv('../data/test_modified.csv', index = False)

### 9. Dummify Columns

In [36]:
# Dummify categorical columns for regressions to take place later
test_modified = pd.get_dummies(columns=['ms_subclass','ms_zoning','street','alley','land_contour','lot_config','land_slope', 
                                'neighborhood','condition_1','condition_2','bldg_type','house_style','roof_style', 'roof_matl',
                                'exterior_1st','exterior_2nd','mas_vnr_type','foundation','heating','electrical','garage_type',
                                'fence','misc_feature','sale_type'], drop_first=True, data = test)

In [37]:
# Checking the number of columns after dummifying
test_modified.shape

# There are 204 columns

(878, 204)

### 10. Match columns with train.csv

#### Find the columns with least correlation with 'saleprice' and drop those columns

In [38]:
# Drop the columns that is filtered away in train.csv with r < 0.05 vs 'saleprice' column
test_modified.drop(columns=['foundation_Wood', 'neighborhood_Greens','sale_type_CWD', 'roof_matl_Tar&Grv', 'misc_val', 
                            'misc_feature_Othr', 'condition_2_Norm', 'exterior_2nd_BrkFace','house_style_2.5Unf', 
                            'condition_1_RRNn', 'land_slope_Sev', 'roof_style_Shed','bsmtfin_type_2', 'lot_config_FR3', 
                            'alley_Pave', 'lot_config_FR2','condition_1_RRAn', 'yr_sold', 'bsmtfin_sf_2', 
                            'neighborhood_SawyerW','sale_type_ConLI', 'roof_style_Mansard', 'house_style_1Story',
                            'pool_area','exterior_2nd_AsphShn', 'foundation_Stone', 'neighborhood_Gilbert',
                            'exterior_1st_BrkComm','condition_1_RRNe','neighborhood_Blueste', 'ms_subclass_75', 
                            'exterior_1st_BrkFace','utilities', 'exterior_1st_AsphShn', 'pool_qc', 'sale_type_Oth',
                            'ms_subclass_80', 'mo_sold','land_contour_Low', 'sale_type_Con', 'ms_zoning_RH','ms_zoning_I', 
                            'ms_subclass_40', 'neighborhood_NWAmes', 'exterior_2nd_CBlock', 'sale_type_ConLw',
                            'neighborhood_Mitchel', 'exter_cond', 'heating_GasW', 'exterior_1st_Plywood', 'ms_subclass_85',
                            'fence_MnWw', 'low_qual_fin_sf', 'roof_style_Gambrel','house_style_SLvl', 'house_style_2.5Fin', 
                            'exterior_2nd_ImStucc','bsmt_half_bath', 'roof_matl_WdShake', 'neighborhood_NPkVill',
                            'misc_feature_Shed', 'exterior_2nd_BrkComm', 'misc_feature_No', '3ssn_porch', 
                            'exterior_1st_WdShing'], axis=1, inplace = True)

In [39]:
# Drop the columns that is filtered away in train.csv that have correlation > 0.85 with each other
test_modified.drop(columns=['exterior_1st_CemntBd','bldg_type_2fmCon','exterior_1st_VinylSd', 'exterior_2nd_MetalSd',
                            'garage_qual','garage_cars','exterior_1st_HdBoard','ms_zoning_FV','ms_subclass_45','fireplace_qu',
                            'exterior_2nd_WdSdng'], axis=1, inplace = True)

In [40]:
# Drop the columns that appears in test.csv but not train.csv
test_modified.drop(columns=['roof_matl_Metal','roof_matl_Roll','exterior_1st_PreCast', 'exterior_2nd_Other',
                            'exterior_2nd_PreCast','mas_vnr_type_CBlock','heating_GasA',
                            'sale_type_VWD'], axis=1, inplace = True)

In [41]:
# Add columns that appears in train.csv but not test.csv, all the values to be set as zero.
test_modified['ms_zoning_C'] = 0
test_modified['condition_2_PosN'] = 0
test_modified['roof_matl_CompShg'] = 0
test_modified['heating_Wall'] = 0

### 11. Save Dataset Again

In [43]:
#Save dataset to csv as a modified dataset
test_modified.to_csv('../data/test_modified_dummified.csv', index = False)